
.feed-card-element {
    border: 1px solid;
    width: calc((100vw - 174px) / 3);
    margin-left: 40px;
    margin-bottom: 40px; 
    float: left;
}

@media screen and (max-width: 800px) and (min-width: 600px) {
    .feed-card-element {
        width: calc((100vw - 126px) / 2);
    }
}

@media screen and (max-width: 600px) and (min-width: 0px) {
    .feed-card-element {
        width: calc(100vw - 90px);
    }
}

.feed-title {
    border-bottom: 1px solid;
    text-align: center;
}

.feed-title h2 {
    margin: 10px;
}

.feed-headlines {
    position: relative;
    margin: auto;
}

.feed-headlines ul {
    max-height: 30vh;
    height: 30vh;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 0px;
    margin-bottom: 0px;
}