
.container {
  margin-left: 40px; 
  margin-right: 40px;
}

.flex-container {
  padding: 0;
  margin: 0;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;

  justify-content: space-between;
}

.add-feed-container {
  margin-top: 20px;
  margin-bottom: 50px;
}

.add-feed-form {
  width: 100%;
  height: 40px;
}

.add-feed-input {
  width: 65%;
  box-sizing: border-box;
  text-align: center;
}

input[type=text]:focus {
  border: 3px solid rgb(128, 124, 124);
}

.add-feed-submit {
  width: 20%;
}

.feed-cards-container {
  width: 100%;
  justify-content: space-between;
}

.feed-card-element {
  border: 1px solid;
  height: 40vh;
  min-width: 29%;
}

.feed-title {
  border-bottom: 1px solid;
  text-align: center;
}

.feed-title h2 {
  margin: 10px;
}

.feed-headlines {
  overflow: hidden;
}
